:root {
	--cell-bg-color: #40454e;
	--cell-font-color: #ccc;
	--cell-yellow-flashing-color: #ff0;
	--cell-green-flashing-color: #0f0;
}

.cellNormal, .cellFibonacci {
	display: inline-block;
	width: 24px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	background-color: var(--cell-bg-color);
	color: var(--cell-font-color);
	font-size: 10px;
	box-sizing: border-box;
	margin: 1px 1px 0 0;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
}

.cellFibonacci {
	color: var(--cell-bg-color);
}

.yellowFlash {
	animation: yellowFlash 0.5s;
}
@keyframes yellowFlash {
	from {
		background-color: var(--cell-yellow-flashing-color);
	}
	to {
		background-color: var(--cell-bg-color);
	}
}

.greenFlash {
	animation: greenFlash 0.5s;
}
@keyframes greenFlash {
	0% {
		background-color: var(--cell-green-flashing-color);
		color: var(--cell-font-color);
	}
	99% {
		color: var(--cell-font-color);
	}
	100% {
		background-color: var(--cell-bg-color);
		color: var(--cell-bg-color); /* to hide the content */
	}
}
